 .demo-editor{
    border:1px solid;
  border-color:rgb(0 0 0 / 25%);
  border-radius:5px
}

.swal2-textarea{
    font-family:Nunito !important;
    color:#21cbce,
 }
 .swal2-textarea:active {
    border: 1px solid rgb(0 0 0 / 10%);
    outline: 0;
    box-shadow: none;
}
.swal2-file:focus, .swal2-input:focus, .swal2-textarea:focus {
    border: 1px solid rgb(0 0 0 / 10%)!important;
    outline: 0!important;
    box-shadow: none!important;
}
.rdw-editor-main {
    min-height: 150px!important;
    overflow: auto;
    box-sizing: border-box;
}
.botonVerMas{
    background-color: #ffffff !important;
    color: #4a9341 !important;
}
.MuiButton-contained {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background-color: #ffffff;
}
